#html, body{
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
    margin-top:0px;
    background-color: black;
    
  
}


#display-cont{
    width: 100%;
    height: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .95;
  
 
}

#text-cont{
    
    display: block;
    
    font-family: soleil, sans-serif;
    mix-blend-mode: multiply;
    font-weight: 700;

    font-style: normal;
    z-index: 1;
    
    font-size: calc(.5vw + .5vh + .5vmin);
    
    padding: 2vw;
    width: 70vw;
    color: whitesmoke;
    
    filter: blur(0.05vw);
    opacity: 1;
   
    
  
    
    
    
}

.right{
    
    
    text-align:right;
    margin-left: 25%;
    
   
}

.left{
    
    text-align: left;
    margin-right: 25%;
     
}

